/* Default styles for larger screens */
body {
  font-family: 'Arial';
  background-color: #f0f0f0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('1000015380.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: grayscale(90%); /* Apply grayscale effect */
}

/* Szebbé tett file input gomb */
.custom-file-input {
  border: 2px solid #ccc;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.custom-file-input:hover {
  background-color: #ddd;
}

/* Szépítjük a horizontális vonalat */
hr {
  border: 1px solid #ccc;
  margin: 20px 0;
}

/* Kezdetben elrejtjük ezeket az elemeket */
#resultSection, #extractedDataSection {
  display: none;
}

.container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 600px;
}

h1 {
  color: #f59b00;
  font-weight: 600;
}

label,
input {
  border-radius: 5px;
  display: block;
  margin: 10px auto;
}

button {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #f59b00;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgba(245, 155, 0, 0.795);
}

#output {
  font-size: 24px;
  margin-top: 20px;
  color: #555;
}

#footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#copyright-year {
  font-weight: bold;
}

table {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  border-collapse: separate;
}
th,
td {
  padding: 5px;
  border: 2px solid #f59b00;
  border-radius: 5px;
}
input {
  width: 150px;
}

/* Responsive styles for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 90%;
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  label,
  input {
    margin: 5px auto;
  }

  button {
    font-size: 16px;
    padding: 8px 16px;
  }

  #output {
    font-size: 20px;
    margin-top: 10px;
  }
  input {
    width: 90px;
  }
}
